* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  color: #eee;
}

body {
  width: 100%;
  height: 100%;
  background: url("images/sitebg.jpg") no-repeat center fixed;
  background-size: cover;
}

header {
  width: 100%;
  height: 100vh;
}
.landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
  z-index: 1;
}

.landing-text h1 {
  font-size: 10rem;
  font-family: "The Historia Demo", sans-serif;
  background: linear-gradient(#fd57bf, #ffe838);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem;
  user-select: none;
}

.landing-text h6 {
  font-size: 3rem;
  font-weight: 300;
}
/*Footer*/
.copyright {
  left: 0%;
  bottom: 0%;
  width: 100%;
  text-align: center;

  padding: 2rem 0;
  position: fixed;
}
.copyright p {
  font-size: 3rem;
}
/*Nav*/
.nav-list {
  margin-top: 10px;
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  margin: 0 2rem;
}
.nav-list {
  font-family: "The Historia Demo", sans-serif;
  font-size: 3rem;
  padding-left: 2rem;
}
.nav-link:hover,
.nav-link:focus {
  background: linear-gradient(to top, #ffe838, #fd57bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*----*/
.top-nav {
  width: 100%;
  height: 10vh;
  position: fixed;
  background-color: white;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transition: all 650ms cubic-bezier(1, 0, 0, 1);
}
/* media queries */
@media screen and (max-width: 768px) {
  /* End portfolio */
  body {
    background: url("images/sitebg2.jpg") no-repeat center fixed;
    background-size: cover;
  }

  .landing-text h1 {
    font-size: 15rem;
  }

  .landing-text h6 {
    font-size: 1.7rem;
  }

  .nav-list {
    flex-direction: column;
  }

  li {
    margin: 2rem 0;
  }

  .nav-link {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 600px) {
  .top-nav {
    width: 100%;
    height: 30vh;
    position: fixed;
    background-color: white;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1, 0, 0, 1);
  }
  .nav-list {
    flex-direction: column;
    margin-top: 1px;
  }

  li {
    margin: 1rem 0;
  }

  .nav-link {
    font-size: 2rem;
  }

  .landing-text h1 {
    font-size: 8rem;
  }

  .landing-text h6 {
    font-size: 1.4rem;
  }

  .nav-link {
    font-size: 3.5rem;
  }
}
